*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-fixed-top.scrolled {
    background-color: rgba(107, 107, 107, 0.735);
    transition: background-color 200ms linear;
  }

nav a{
    text-decoration: none;
    color:white;
    padding: 10px 10px;
    display: inline-block;
}
.navkiri a{
    font-size: 25px;
}
.navkanan a{
    font-size: 20px;
}
nav a:hover{
    color: rgb(255, 159, 69);
}

.navkiri{
    font-family: 'Pacifico', cursive;
    padding-left: 20px;
}

.navkanan{
    font-family: 'Agency FB';
    padding-right: 20px;
}

.top-header{
    background-image: url(gedung.jpg);
    background-size: cover;
    height: 100vh;
}

.top-header img{
    margin-top: 90px;
    height: 90px;
    margin-left: 80px;
}

.top-header p{
    color: white;
    margin-left: 95px;
    width: 600px;
    font-family: coiny;
    text-shadow: 2px 2px slategray;
    font-size: 25px;
}

.wilayah{
    padding: 0 85px;
    background-color: rgb(71, 117, 255);
}

.wilayah h2{
    text-align: center;
    color: white;
    letter-spacing: 4px;
    padding:15px 0 ;
    font-family: Impact;
    font-weight: normal;
}
.wilayah img{
    width: 100%;
}

.wilayah p{
    width: 550px;
    font-size: 1.3em;
    text-align: justify;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -35em;
}

.wilayah span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.mapdescribe.scrolled{
    margin-left: 0;
    transition: 1s;
}

.infografik {
    padding: 15px 85px;
    background-color: tomato;
}

.infografik h2{
    text-align: center;
    padding: 20px;
    font-family: Impact;
    letter-spacing: 4px;
    color:white;
    font-weight: normal;

}

.infografik img{
    width: 40%;
    display: block;
    margin: 0 auto;
    transition: 1s;
}
.infografik a{
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    font-family: 'coiny';
    color: white;
    margin: 40px 0px 0 -18px;
    z-index: 2;
}

.infografik P{
    margin: 20px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 170px;
}

/* fungsi anak kandung mengatur element lain dengan action elemen lain */
.subinfo a:hover ~ img:nth-child(2){
    transform: rotate(180deg);
    transition: 1s;
}

.info{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(5, auto);
    text-align: center;
}

.menuberita {
    padding: 15px 85px;
    background-color: rgb(73, 73, 73);
    height:500px;
}
.menuberita h2{
    padding: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 4px;
    font-weight: normal;
}
.berita{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(3, auto);
    text-align: left;
}

.subberita img{
    width: 500px;
    transition: .5s;
}
.subberita img:hover{
    width: 550px;
    cursor: pointer;
    transition: .5s;
}

.subberita p{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.menunavig{
    padding: 15px 85px;
    height: 300px;
    background-color: tomato;
}

.subnavig{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    text-align: center;
}

.menunavig h2{
    padding: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 4px;
    font-weight: normal;
}

.subnavig img{
    height: 200px;
    transition: .5s;
}

.subnavig img:hover{
    height: 230px;
    transition: .5s;
}

footer{
    padding: 15px 85px;
    height: 300px;
    background-color: midnightblue;
    display: grid;
    grid-template-areas: "footer-left footer-right"
                         "footer-left kakikanan";
    grid-template-columns: 35% 65%;
}

.footer-left{
    grid-area: footer-left;
}

.footer-left img{
    height: 80px;
    margin-top: 25px;
}
.kemsos{
    color: white;
    font-weight: bolder;
}

.alamat{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer-right{
    grid-area: footer-right;
    justify-self: end;
}

.footer-right img{
    width: 200px;
}

.kakikanan{
    grid-area: kakikanan;
    justify-self: end;
    align-self: end;
}

.kakikanan h2{
    color: white;
    font-family: coiny;
    font-weight: normal;
}

.submedsos img{
    height: 40px;
    margin: 5px 20px 20px 0;
}
/* @media only screen and (max-width: 500px){
    .info{
        grid-template-columns: repeat(1, auto);
    }
} */